<a href="https://colab.research.google.com/github/Jan2309jr/EMIPredict-AI-Intelligent-Financial-Risk-Assessment-Platform/blob/main/emi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing required libraries

In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

##  Data Loading and Preprocessing

In [77]:
df=pd.read_csv('https://raw.githubusercontent.com/Jan2309jr/EMIPredict-AI-Intelligent-Financial-Risk-Assessment-Platform/refs/heads/main/emi_prediction_dataset.csv')
df.head()

,age,gender,marital_status,education,monthly_salary,employment_type,years_of_employment,company_type,house_type,monthly_rent,...,existing_loans,current_emi_amount,credit_score,bank_balance,emergency_fund,emi_scenario,requested_amount,requested_tenure,emi_eligibility,max_monthly_emi
0,38.0,Female,Married,Professional,82600.0,Private,0.9,Mid-size,Rented,20000.0,...,Yes,23700.0,660.0,303200.0,70200.0,Personal Loan EMI,850000.0,15,Not_Eligible,500.0
1,38.0,Female,Married,Graduate,21500.0,Private,7.0,MNC,Family,0.0,...,Yes,4100.0,714.0,92500.0,26900.0,E-commerce Shopping EMI,128000.0,19,Not_Eligible,700.0
2,38.0,Male,Married,Professional,86100.0,Private,5.8,Startup,Own,0.0,...,No,0.0,650.0,672100.0,324200.0,Education EMI,306000.0,16,Eligible,27775.0
3,58.0,Female,Married,High School,66800.0,Private,2.2,Mid-size,Own,0.0,...,No,0.0,685.0,440900.0,178100.0,Vehicle EMI,304000.0,83,Eligible,16170.0
4,48.0,Female,Married,Professional,57300.0,Private,3.4,Mid-size,Family,0.0,...,No,0.0,770.0,97300.0,28200.0,Home Appliances EMI,252000.0,7,Not_Eligible,500.0

In [78]:
df.shape

(404800, 27)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404800 entries, 0 to 404799
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   age                     404800 non-null  object
 1   gender                  404800 non-null  object
 2   marital_status          404800 non-null  object
 3   education               402396 non-null  object
 4   monthly_salary          404800 non-null  object
 5   employment_type         404800 non-null  object
 6   years_of_employment     404800 non-null  float64
 7   company_type            404800 non-null  object
 8   house_type              404800 non-null  object
 9   monthly_rent            402374 non-null  float64
 10  family_size             404800 non-null  int64
 11  dependents              404800 non-null  int64
 12  school_fees             404800 non-null  float64
 13  college_fees            404800 non-null  float64
 14  travel_expenses         404800 non-null  float64
 15  groceries_utilities     404800 non-null  float64
 16  other_monthly_expenses  404800 non-null  float64
 17  existing_loans          404800 non-null  object
 18  current_emi_amount      404800 non-null  float64
 19  credit_score            402380 non-null  float64
 20  bank_balance            402374 non-null  object
 21  emergency_fund          402449 non-null  float64
 22  emi_scenario            404800 non-null  object
 23  requested_amount        404800 non-null  float64
 24  requested_tenure        404800 non-null  int64
 25  emi_eligibility         404800 non-null  object
 26  max_monthly_emi         404800 non-null  float64
dtypes: float64(12), int64(3), object(12)
memory usage: 83.4+ MB

In [80]:
df.describe()

,years_of_employment,monthly_rent,family_size,dependents,school_fees,college_fees,travel_expenses,groceries_utilities,other_monthly_expenses,current_emi_amount,credit_score,emergency_fund,requested_amount,requested_tenure,max_monthly_emi
count,404800.000000,402374.000000,404800.000000,404800.000000,404800.000000,404800.000000,404800.000000,404800.000000,404800.000000,404800.000000,402380.000000,402449.000000,4.048000e+05,404800.000000,404800.000000
mean,5.364079,5828.446490,2.940425,1.940425,4624.575593,4066.253706,5687.497777,12804.999506,7119.309783,4543.407609,700.856223,96769.051731,3.708554e+05,29.126677,6763.602156
std,6.079135,8648.604639,1.075199,1.075199,5061.074401,7319.344289,3392.671132,6993.853745,4510.447300,7034.901139,88.435548,81373.053976,3.451945e+05,18.100854,7741.263317
min,0.500000,0.000000,1.000000,0.000000,0.000000,0.000000,600.000000,1800.000000,600.000000,0.000000,0.000000,1400.000000,1.000000e+04,3.000000,500.000000
25%,1.200000,0.000000,2.000000,1.000000,0.000000,0.000000,3200.000000,7700.000000,3800.000000,0.000000,654.000000,38400.000000,1.240000e+05,15.000000,500.000000
50%,3.200000,0.000000,3.000000,2.000000,3000.000000,0.000000,4900.000000,11400.000000,6000.000000,0.000000,701.000000,74000.000000,2.360000e+05,25.000000,4211.200000
75%,7.200000,10600.000000,4.000000,3.000000,9000.000000,6500.000000,7400.000000,16400.000000,9300.000000,8000.000000,748.000000,130600.000000,4.940000e+05,40.000000,9792.000000
max,36.000000,80000.000000,5.000000,4.000000,15000.000000,25000.000000,30300.000000,71200.000000,42900.000000,56300.000000,1200.000000,891500.000000,1.500000e+06,84.000000,91040.400000

In [81]:
df.isnull().sum()

age                          0
gender                       0
marital_status               0
education                 2404
monthly_salary               0
employment_type              0
years_of_employment          0
company_type                 0
house_type                   0
monthly_rent              2426
family_size                  0
dependents                   0
school_fees                  0
college_fees                 0
travel_expenses              0
groceries_utilities          0
other_monthly_expenses       0
existing_loans               0
current_emi_amount           0
credit_score              2420
bank_balance              2426
emergency_fund            2351
emi_scenario                 0
requested_amount             0
requested_tenure             0
emi_eligibility              0
max_monthly_emi              0
dtype: int64

In [82]:
df.nunique()

age                          41
gender                        8
marital_status                2
education                     4
monthly_salary            13662
employment_type               3
years_of_employment         356
company_type                  5
house_type                    3
monthly_rent               4396
family_size                   5
dependents                    5
school_fees                 132
college_fees                202
travel_expenses             284
groceries_utilities         544
other_monthly_expenses      373
existing_loans                2
current_emi_amount          508
credit_score                427
bank_balance              12261
emergency_fund             5486
emi_scenario                  5
requested_amount           1491
requested_tenure             82
emi_eligibility               3
max_monthly_emi           15383
dtype: int64

In [83]:
x = 'yes' if (df['monthly_salary'] <= 0).any() else 'no'
print(x)

TypeError: '<=' not supported between instances of 'str' and 'int'

In [ ]:
df['gender'].unique().tolist()

In [ ]:
df['emi_eligibility'].unique().tolist()

In [ ]:
df['emi_scenario'].unique().tolist()

In [ ]:
df['age'].unique().tolist()

In [ ]:
df.duplicated().sum()

In [ ]:
df.columns.to_list()

### Preprocessing

In [ ]:
df['age']=pd.to_numeric(df['age'],errors='coerce')
df['monthly_salary']=pd.to_numeric(df['monthly_salary'],errors='coerce')
df['bank_balance']=pd.to_numeric(df['bank_balance'],errors='coerce')

In [ ]:
df.dropna()

In [ ]:
df['gender']=df['gender'].str.strip().str.lower()
df['gender']=df['gender'].apply(lambda x: 'F' if x in ['Female', 'female', 'F', 'FEMALE'] else 'M')

In [ ]:
obj_cols = df.select_dtypes(include=["object"]).columns.tolist()
for c in obj_cols:
    df[c] = df[c].astype(str).str.strip()

In [ ]:
df.info()

In [ ]:
df['emi_eligibility'] = df['emi_eligibility'].astype(str).str.strip().str.lower()

In [ ]:
df['emi_eligibility'] = df['emi_eligibility'].replace({
    'eligible': 'Eligible',
    'not_eligible': 'Not Eligible',
    'high_risk': 'High Risk',
    'medium_risk': 'Medium Risk',
    'low_risk': 'Low Risk'
})

## Exploratory Data Analysis

In [ ]:
# Required libraries: pandas, numpy, matplotlib, seaborn, scipy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# assume `df` is already loaded and has the columns from previous chats

# ---- basic cleaning used in analysis ----
df = df.copy()
df.columns = df.columns.str.strip()

# normalize target
df['emi_eligibility'] = df['emi_eligibility'].astype(str).str.strip().str.lower()
df['target_approved'] = df['emi_eligibility'].apply(lambda x: 1 if 'eligible' in x else 0)

# ensure numeric financial columns are numeric
financial_cols = [
    "monthly_salary", "bank_balance", "credit_score", "current_emi_amount",
    "requested_amount", "max_monthly_emi", "emergency_fund"
]
for c in financial_cols:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors="coerce")

# ---- 1) EMI eligibility distribution across emi_scenario ----
scenario_col = "emi_scenario"
emi_summary = df.groupby([scenario_col, 'emi_eligibility']).size().reset_index(name='count')
emi_summary['total_in_scenario'] = emi_summary.groupby(scenario_col)['count'].transform('sum')
emi_summary['pct_in_scenario'] = (emi_summary['count'] / emi_summary['total_in_scenario'] * 100).round(2)

# pivot for plotting and inspection
emi_pivot_pct = emi_summary.pivot(index=scenario_col, columns='emi_eligibility', values='pct_in_scenario').fillna(0)
emi_pivot_count = emi_summary.pivot(index=scenario_col, columns='emi_eligibility', values='count').fillna(0)

print("Top 10 scenarios by volume:")
print(df[scenario_col].value_counts().head(10))

# stacked percent bar
plt.figure(figsize=(12,6))
emi_pivot_pct.sort_values(by=('Eligible' if 'Eligible' in emi_pivot_pct.columns else emi_pivot_pct.columns[0]),
                          ascending=False).plot(kind='bar', stacked=True, legend=True)
plt.title('EMI eligibility composition (%) by scenario')
plt.xlabel('EMI scenario')
plt.ylabel('Percent within scenario')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

# approval rate per scenario
approval_rate_by_scenario = (df.assign(approved=df['target_approved'])
                              .groupby(scenario_col)['approved']
                              .mean()
                              .mul(100)
                              .round(2)
                              .reset_index(name='approval_rate_pct'))
print("Approval rate by scenario (top 20 by volume):")
print(approval_rate_by_scenario.merge(df[scenario_col].value_counts().rename('volume'),
                                      left_on=scenario_col, right_index=True)
                                  .sort_values(['volume'], ascending=False).head(20))

plt.figure(figsize=(10,5))
sns.barplot(data=approval_rate_by_scenario.sort_values('approval_rate_pct', ascending=False).head(15),
            x='approval_rate_pct', y=scenario_col)
plt.xlabel('Approval rate (%)')
plt.ylabel('EMI scenario')
plt.title('Top 15 scenarios by approval rate')
plt.tight_layout()
plt.show()

# ---- 2) Correlation: financial variables vs loan approval ----
# choose available financial vars
available_financial = [c for c in financial_cols if c in df.columns]
corr_results = []
for c in available_financial:
    subset = df[[c, 'target_approved']].dropna()
    if subset.shape[0] < 30:
        continue
    # use point-biserial (equivalent to Pearson with binary target)
    try:
        r, p = stats.pointbiserialr(subset['target_approved'], subset[c])
    except Exception:
        r, p = stats.pearsonr(subset[c], subset['target_approved'])
    corr_results.append({'variable': c, 'r': float(r), 'p_value': float(p), 'n': int(subset.shape[0])})

corr_df = pd.DataFrame(corr_results).sort_values(by='r', key=lambda s: s.abs(), ascending=False)
print("Point-biserial correlations (financial vars vs approval):")
print(corr_df)

# Spearman correlation matrix across financial vars + target
corr_matrix = df[available_financial + ['target_approved']].corr(method='spearman').round(3)
print("Spearman correlation snippet:")
print(corr_matrix.loc[:, ['target_approved']].sort_values('target_approved', ascending=False))

# scatter/box visuals for top correlated variables
top_vars = corr_df['variable'].tolist()[:4]
for v in top_vars:
    plt.figure(figsize=(6,4))
    sns.boxplot(x='target_approved', y=v, data=df, showfliers=False)
    plt.title(f'{v} by approval (0=Rejected,1=Approved)')
    plt.tight_layout()
    plt.show()

# ---- 3) Demographic patterns and risk factor relationships ----
# Gender vs approval
if 'gender' in df.columns:
    gender_tab = pd.crosstab(df['gender'].fillna('Missing'), df['target_approved'])
    gender_rates = (gender_tab[1] / gender_tab.sum(axis=1) * 100).round(2)
    print("Approval rates by gender:")
    print(gender_rates.sort_values(ascending=False))
    # chi-square
    try:
        chi2, p, dof, ex = stats.chi2_contingency(gender_tab)
        print("Gender vs approval chi2 p-value:", p)
    except Exception:
        pass
    # bar plot
    plt.figure(figsize=(6,4))
    gender_rates.sort_values(ascending=False).plot(kind='bar')
    plt.ylabel('Approval rate (%)')
    plt.title('Approval rate by gender')
    plt.tight_layout()
    plt.show()

# Age patterns: summary and binned rates
if 'age' in df.columns:
    df['age_bin'] = pd.cut(df['age'], bins=[15,25,35,45,55,65,100], right=False)
    age_rates = (df.groupby('age_bin')['target_approved'].mean().mul(100)).round(2)
    print("Approval rate by age bin:")
    print(age_rates)
    age_counts = df['age_bin'].value_counts().sort_index()
    fig, ax1 = plt.subplots(figsize=(8,4))
    age_rates.plot(kind='bar', ax=ax1)
    ax1.set_ylabel('Approval rate (%)')
    plt.title('Approval rate by age bin')
    plt.tight_layout()
    plt.show()

# Marital status vs approval
if 'marital_status' in df.columns:
    ms_tab = pd.crosstab(df['marital_status'].fillna('Missing'), df['target_approved'])
    ms_rates = (ms_tab[1] / ms_tab.sum(axis=1) * 100).round(2)
    print("Approval rates by marital status (top categories):")
    print(ms_rates.sort_values(ascending=False).head(10))

# Existing loans and current EMI as risk signals
if 'existing_loans' in df.columns:
    el_tab = pd.crosstab(df['existing_loans'].fillna('Missing'), df['target_approved'])
    el_rates = (el_tab[1] / el_tab.sum(axis=1) * 100).round(2)
    print("Approval rate by existing_loans:")
    print(el_rates)
if 'current_emi_amount' in df.columns:
    medians = df.groupby('target_approved')['current_emi_amount'].median().rename({0:'rejected_median',1:'approved_median'})
    print("Median current EMI by approval:", medians.to_dict())

# Combine risk factors: high requested_amount & low credit_score
if set(['requested_amount','credit_score']).issubset(df.columns):
    df['high_requested_low_credit'] = ((df['requested_amount'] > df['requested_amount'].quantile(0.75)) &
                                       (df['credit_score'] < df['credit_score'].quantile(0.25)))
    risk_cross = pd.crosstab(df['high_requested_low_credit'], df['target_approved'])
    print("High requested & low credit cross-tab:")
    print(risk_cross)

# ---- 4) Statistical summaries & business insights ----
summary = {}
summary['rows'] = df.shape[0]
summary['overall_approval_rate_pct'] = float(df['target_approved'].mean() * 100)
summary['top_scenarios_by_volume'] = df[scenario_col].value_counts().head(10).to_dict()
summary['lowest_approval_scenarios'] = approval_rate_by_scenario.sort_values('approval_rate_pct').head(5).to_dict(orient='records')
summary['highest_approval_scenarios'] = approval_rate_by_scenario.sort_values('approval_rate_pct', ascending=False).head(5).to_dict(orient='records')

print("Summary business insights:")
print(summary)

# quick table: scenarios with high volume but low approval (actionable)
merged = approval_rate_by_scenario.merge(df[scenario_col].value_counts().rename('volume'), left_on=scenario_col, right_index=True)
actionable = merged[(merged['volume'] >= merged['volume'].quantile(0.75)) & (merged['approval_rate_pct'] <= merged['approval_rate_pct'].quantile(0.25))]
print("High-volume, low-approval scenarios (investigate):")
print(actionable.sort_values(['approval_rate_pct']).head(10))